@import "./variables.scss";
@import "./generalClasses.scss";

@import "./components/footer.scss";

h1, h2, h3 {
  word-break: break-all;
}

a {
  text-decoration: none;
}

html {
  font-size: 1.4vh;
  overflow-y: scroll;
}

body {
  background-color: $background;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  overflow-x: hidden;

  * {
    font-family: $fontFamily_ExtraLigth;
    color: $primary;
    fill: $primary;
    stroke: $primary;
    font-size: 2.8rem;
    text-align: center;
  }

  svg {
    circle {
      fill: $background;
    }
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $background;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $greyGreen;
    border-radius: 10px;
  }

  p {
    line-height: 3.2rem;
  }
}

.arrowBackIcon {
  svg {
    * {
      fill: none;
    }

    circle {
      fill: $background;
    }
  }
}

.languageMenuWrapper {
  position: fixed;
  top: 2rem;
  right: 4rem;
  z-index: 3001;

  ul {
    margin: 0.4rem 1rem 0;

    li {
      font-size: 1.8rem;
      line-height: 2.2rem;
      text-align: right;

      * {
        font-size: 1.8rem;
        line-height: 2.2rem;
        text-align: right;
      }
    }
  }
}

.mainMenuBtn {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 3001;

  svg {
    width: 31px;

    * {
      stroke:#f07f19;
      stroke-miterlimit:10;
      stroke-width: $strokeWidth;
    }

    circle {
      fill: $background;
    }
  }
}

.pageMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background;

  .topMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .pageMenuLogoAnimContainer {
      height: 166px;
      margin: 0 0 24px;
    }

    button, a {
      font-size: 2.8rem;
      margin: 34px 0 0;
    }
  }
}

.pageWrapper {
  display: flex;
  width: 100vw;
  height: auto;
  //min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //margin: 5rem 0;
}

.sectionWrapper {
  display: flex;
  width: 100vw;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pageText {
  h2 {
    font-family: $fontFamily_ExtraLigth;
    font-size: 7rem;
    line-height: 6.8rem;
  }

  p {
    text-align: center;
    width: 70vw;
    padding: 0 10rem;
    margin: 3rem auto 0;
  }
}

.pageQuote {
  height: auto;
  margin: 21rem 0 0;

  .quoteWrapper {
    background: radial-gradient(ellipse, #ff8000 56%, #0b1a16 69%);
    border-radius: 50%;
    padding: 5rem;
    max-width: 90vw;

    .quoteWrapperInner {
      background-color: $background;
      border-radius: 50%;
      padding: 8rem 10rem;

      * {
        line-height: 3.2rem;
        font-size: 2.8rem;
      }

      p {
        width: 70%;
        padding: 0;
        display: block;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
}

.lightBoxWrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  .closeBG {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2999;
  }

  .lightBoxInnerWrapper {
    width: 70vw;
    height: 80vh;
    position: fixed;
    top: 10vh;
    left: 15vw;
    z-index: 3000;
    background-color: $background;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    border: 1px solid $primary;
    border-radius: 30px;

    .closeBtn {
      position: fixed;
      top: calc(10vh + 0.8rem);
      right: calc(15vw + 0.8rem);
      z-index: 2000;
      width: 31px;
      cursor: pointer;
    }

    .arrowBackIcon {
      position: static;
      width: 8rem;
      height: 8rem;
      margin: 5rem 0;

      img {
        width: 100%;
        height: auto;
      }
    }

    >div {
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 5vh 5vw;

      >* {
        width: calc(100% - 20rem);
        padding-left: 0;
        padding-right: 0;
      }

      >button {
        width: 80px;
      }

      h2 {
        margin-top: 2rem;
      }
    }
  }
}

.videoBGWrapper {
  position: relative;
  overflow-x: hidden;

  >div {
    position: relative;
    z-index: 100;
  }
}

.videoBG {
  position: absolute;
  z-index: 10;
  left: 0;
  height: calc(100vw/16*9);
  width: 100vw;
}

.videoBGReversed {
  display: none;
}

.videoBGTop {
  top: 0;
  bottom: unset;
}

@media (max-aspect-ratio: 16/9) {
  .videoBGFixed {
    position: fixed;
    top: unset;
    bottom: 0;
  }

  .videoBGBottom {
    top: unset;
    bottom: 0;
  }
}

@media (min-aspect-ratio: 16/9) {
  .videoBGFixed {
    position: fixed;
    top: 0;
    bottom: unset;
  }

  .videoBGBottom {
    top: unset;
    bottom: 0;
  }
}

.sliderWrapper {
  height: 100vh;
  width: 100vw;
  position: relative;

  .sliderImagesWrapper {
    max-height: 100vh;

    div {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 100vh;
        width: auto;
      }
    }
  }

  .arrowsWrapper {
    position: absolute;
    height: 66px;
    width: 98vw;
    top: calc(50vh - 33px);
    left: 1vw;
    display: flex;
    justify-content: space-between;

    svg {
      height: 100%;
      cursor: pointer;

      * {
        stroke:#f07f19;
        stroke-miterlimit:10;
        stroke-width: 1px;
        fill: none;
      }

      circle {
        fill: $background;
      }
    }
  }
}

.sectionSocials {
  margin: 4rem 0;

  >div {
    display: flex;
    flex-direction: row;
    height: 4rem;

    a {
      height: 4rem;
      width: 4rem;
      margin: 0 2rem;

      img, svg {
        height: 4rem;
        width: 4rem;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  html {
    font-size: 1vh;
  }

  .pageText {
    h2 {
      font-size: 5.5rem;
      line-height: 5.3rem;
    }

    p {
      padding: 0;
    }
  }

  .sliderWrapper {
    .sliderImagesWrapper {
      div {
        img {
          height: auto;
          width: 100vw;
        }
      }
    }

    .arrowsWrapper {
      position: absolute;
      height: 66px;
      width: 98vw;
      top: calc(50vh - 33px);
      left: 1vw;
      display: flex;
      justify-content: space-between;

      svg {
        height: 100%;
        cursor: pointer;

        * {
          stroke:#f07f19;
          stroke-miterlimit:10;
          stroke-width: 1px;
          fill: none;
        }

        circle {
          fill: $background;
        }
      }
    }
  }

  .pageQuote {
    margin: 21rem 0 0;

    p {
      padding: 0;
    }

    .quoteWrapper {
      background: radial-gradient(ellipse, #ff8000 56%, #0b1a16 69%);
      border-radius: 50%;
      padding: 5rem;
      max-width: 96vw;

      .quoteWrapperInner {
        background-color: $background;
        border-radius: 50%;
        padding: 14rem 6rem;

        * {
          line-height: 3.2rem;
          font-size: 2.8rem;
        }

        p {
          width: 100%;
        }
      }
    }
  }

  .lightBoxWrapper {
    .lightBoxInnerWrapper {
      width: 90vw;
      left: 5vw;
      overflow-y: unset;

      .closeBtn {
        right: calc(5vw + 1.8rem);
        top: calc(10vh + 1.8rem);
      }

      .arrowBackIcon {
        width: 8rem;
        height: 8rem;
        margin: 5rem 0;
      }

      >div {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 5vh 5vw;

        >* {
          width: calc(100% - 20rem);
          padding-left: 0;
          padding-right: 0;
        }

        >button {
          width: 80px;
        }

        h2 {
          margin-top: 2rem;
        }

        p {
          width: 100%;
        }
      }
    }
  }

  .videoBGReversed {
    display: block;
  }
}
