@font-face{
  font-family: 'Mostardesign-NatomProRegular';
  src: url(../../assets/fonts/Mostardesign-NatomProRegular.woff) format('woff'),
  url(../../assets/fonts/Mostardesign-NatomProRegular.woff2) format('woff2');
}

@font-face{
  font-family: 'Mostardesign-NatomProLight';
  src: url(../../assets/fonts/Mostardesign-NatomProLight.woff) format('woff'),
  url(../../assets/fonts/Mostardesign-NatomProLight.woff2) format('woff2');
}

@font-face{
  font-family: 'Mostardesign-NatomProExtraLight';
  src: url(../../assets/fonts/Mostardesign-NatomProExtraLight.woff) format('woff'),
  url(../../assets/fonts/Mostardesign-NatomProExtraLight.woff2) format('woff2');
}

@font-face{
  font-family: 'Mostardesign-NatomProExtraLightItalic';
  src: url(../../assets/fonts/Mostardesign-NatomProExtraLightItalic.woff) format('woff'),
  url(../../assets/fonts/Mostardesign-NatomProExtraLightItalic.woff2) format('woff2');
}

@font-face{
  font-family: 'Mostardesign-NatomProBold';
  src: url(../../assets/fonts/Mostardesign-NatomProBold.woff) format('woff'),
  url(../../assets/fonts/Mostardesign-NatomProBold.woff2) format('woff2');
}

@font-face{
  font-family: 'GoetheFFClan-Bold';
  src: url(../../assets/fontsGoethe/GoetheFFClan-Bold.woff) format('woff'),
  url(../../assets/fontsGoethe/GoetheFFClan-Bold.woff2) format('woff2');
}

@font-face{
  font-family: 'GoetheFFClan-Book';
  src: url(../../assets/fontsGoethe/GoetheFFClan-Book.woff) format('woff'),
  url(../../assets/fontsGoethe/GoetheFFClan-Book.woff2) format('woff2');
}
