$primary: #ff8000;
$secondary: #585a4d;
$background: #0b1a16;
$moonPool_1: #d1e0e8;
$moonPool_2: #d6d9c7;
$moonPool_3: #ded1a6;
$moonPool_4: #e3c985;
$moonPool_5: #ebc263;
$moonPool_6: #f2ba42;
$moonPool_7: #f7b221;
$moonPool_8: #ffab00;

$primary: #ff8000;
$background: #0b1a16;
$goetheGreen: #A0C814;
$goetheGreen: #788287;
$greyGreen: #585a4d;
$accentGreen: #468354;

$fontFamily_Regular: 'Mostardesign-NatomProRegular';
$fontFamily_Ligth: 'Mostardesign-NatomProLight';
$fontFamily_ExtraLigth: 'Mostardesign-NatomProExtraLight';
$fontFamily_ExtraLigthItalic: 'Mostardesign-NatomProExtraLightItalic';
$fontFamily_Bold: 'Mostardesign-NatomProBold';

$fontFamily_GoetheBold: 'GoetheFFClan-Bold';
$fontFamily_GoetheBook: 'GoetheFFClan-Book';

$strokeWidth: 1.5px;
