@import "../variables.scss";
@import "../generalClasses.scss";

.mainLogoAnimContainer {
  position: relative;
  height: 51.4vh;
}

.mainPageTitle {
  display: flex;
  flex-direction: column;
  margin: 0 auto 2rem;

  span:nth-child(1) {
    font-size: 3.86rem;
    font-family: $fontFamily_Ligth;
  }

  span:nth-child(2) {
    font-size: 7.96rem;
    letter-spacing: 0.2rem;
    margin: -0.88rem 0 0;
  }

  span:nth-child(3) {
    font-size: 8.05rem;
    letter-spacing: -0.14rem;
    margin: -1.7rem 0 0;
  }
}
