@import "./general/reset.scss";
@import "./general/fonts.scss";
@import "./general/variables.scss";

@import "./general/default.scss";

@import "./general/components/mainPageTitle.scss";

.siteHeader {
  height: auto;
  width: 100vw;

  .pageTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;

    .mainLogoWrapper {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;

      video {
        position: absolute;
      }

      @media (min-aspect-ratio: 16/9) {
        video {
          top: calc(50vh - (100vw/16 * 9 / 2));
          left: 0;
          width: 100vw;
          height: calc(100vw/16 * 9);
        }
      }

      @media (max-aspect-ratio: 16/9) {
        video {
          top: 0;
          left: calc(50vw - (100vh/9 * 16 / 2));
          width: calc(100vh/9 * 16);
          height: 100vh;
        }
      }
    }

    .topMenuWrapper {
      padding: 10rem 0;
    }

    h2 {
      font-size: 2.6rem;
      text-align: center;
      width: 70vw;
      padding: 0 10rem;

      * {
        font-size: 2.6rem;
      }
    }

    .topMenu {
      margin: 3rem 0 0;

      button, a {
        font-size: 2rem;
        margin-left: 2rem;
      }

      button:nth-child(1), a:nth-child(1) {
        margin-left: 0;
      }
    }
  }
}

.pageTopVideo {
  width: 100vw;
  height: calc(100vw / 16 * 9);

  iframe {
    width: 100%;
    height: 100%;
  }
}

.pageAbout {
  padding: 0 0 21rem;

  >div {
    position: relative;
    z-index: 100;
  }
}

.librariesWrapper {
  width: 100vw;
  height: auto;
  margin: 10rem 0 0;
}

.pageLibraries {
  margin: 10rem 0 0;
  position: relative;
  z-index: 11;

  .pageLibrariesWrapper {
    z-index: 11;
    position: relative;
  }

  .librariesMenu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 60vw;
    margin: 1rem auto 0;

    >div {
      width: calc(100%/3);
      margin: 2rem;

      >button {
        height: 100%;
        width: 100%;

        img {
          height: 100%;
          width: auto;
        }

        video {
          height: calc((60vw/3 - 4rem)/110 * 191);
          width: 100%;
        }
      }
    }

    .libraryContainerComingSoon {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.libraryWrapper {
  width: 70vw;
  height: 80vh;
  position: fixed;
  top: 10vh;
  left: 15vw;
  z-index: 2000;
  background-color: $background;
  padding: 0 5vw;
  overflow-y: scroll;
  outline: 1px solid $primary;
  border-radius: 30px;

  >div {
    padding: 1px;
    background-color: unset !important;
  }

  .libraryCloseBtn {
    position: fixed;
    top: calc(10vh + 0.8rem);
    right: calc(15vw + 0.8rem);
    z-index: 2000;
    width: 31px;
    cursor: pointer;
  }

  h2 {
    font-size: 5.4rem;
    line-height: 5rem;
  }

  h2:nth-child(2) {
    padding: 5vh 0 0;
  }

  h3 {
    font-size: 3rem;
    line-height: 3.4rem;

    * {
      font-size: 3rem;
      line-height: 3.4rem;
    }
  }

  p {
    width: 100%;
  }

  .libraryMenu {
    width: 60vw;
    padding: 5rem 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: auto;

    >button {
      width: calc((60vw - 12rem - 16vw) / 4) !important;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      img {
        width: auto;
        height: 70%;
      }

      p {
        width: auto;
        padding: 0;
        margin: 1rem 0 0;
        font-size: 1.2rem;
      }
    }
  }
}

.libraryContainerComingSoon {
  .libraryWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

.jarContentWrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  .closeBG {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2999;
  }

  .jarContentInnerWrapper {
    width: 70vw;
    height: 80vh;
    position: fixed;
    top: 10vh;
    left: 15vw;
    z-index: 3000;
    background-color: $background;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    outline: 1px solid $primary;
    border-radius: 30px;

    .arrowBackIcon {
      position: static;
      width: 8rem;
      height: 8rem;
      margin: 5rem 0;

      img {
        width: 100%;
        height: auto;
      }
    }

    .libraryCloseMainBtn {
      position: fixed;
      top: calc(10vh + 0.8rem);
      right: calc(15vw + 0.8rem);
      z-index: 2000;
      width: 31px;
      cursor: pointer;
    }

    >div {
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 5vh 5vw;

      >* {
        padding-left: 0;
        padding-right: 0;
      }

      >img {
        width: auto;
        height: 70vh;
      }

      >button {
        width: 80px;
      }

      h2 {
        margin-top: 2rem;
      }
    }
  }
}

.galleryWrapper {
  >div {
    img {
      margin: 5rem 0 2rem;
      width: 40vw;
    }

    small {
      color: $accentGreen;
      font-size: 1.4rem;
    }
  }
}

.podcastWrapper {
  iframe {
    width: 40vw;
  }
}

.scholarWrapper {
  .arrowBackIcon {
    margin: 5rem 0;

    * {
      fill: none;
      stroke: $accentGreen;
      stroke-miterlimit: 10;
      stroke-width: 2px;
    }
  }
}

.pageMainCavern {
  margin: 21rem 0 0;
  padding-bottom: 5rem;
  position: relative;
  z-index: 11;

  .libraryCloseBtn {
    margin: 5rem 0;

    * {
      fill: none;
      stroke: $accentGreen;
      stroke-miterlimit:10;
      stroke-width:2px;
    }
  }

  .jarContentInnerWrapper {
    p {
      width: 100%;
    }
  }

  .pageMainCavernLogo {
    margin: 5rem 0 0;
    width: 38rem;
    max-width: 550px;

    * {
      stroke: none;
      fill: $accentGreen;
    }
  }

  .lightBoxInnerWrapper {
    border: 1px solid $accentGreen;
  }

}

.pageInstallation {
  margin: 21rem 0 0;

  >h2 {
    margin: 2rem 0 0;
  }

  .textBtn {
    width: 117px;
    height: 161px;
    margin: 5rem 0 0;

    svg {
      height: 100%;

      .cls-1{
        fill:none;
      }

      .cls-2,.cls-3{
        fill:none;
        stroke: $primary;
        stroke-width:2px;
      }

      .cls-2{
        stroke-miterlimit:10;
      }
    }

    p {
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }

  .jarContentInnerWrapper {
    p {
      width: 100%;
    }
  }

  .libraryCloseBtn {
    margin: 5rem 0;

    * {
      fill: none;
      stroke: $primary;
      stroke-miterlimit:10;
      stroke-width:2px;
    }
  }
}

.sectionExperienceLink {
  position: relative;
  overflow: hidden;
  margin: 21rem 0;

  video {
    position: absolute;
    z-index: 99;
  }

  >div {
    position: relative;
    z-index: 100;
    padding: 10rem 0;

    .experienceBtn {
      height: 38rem;
      margin: 0 auto;

      img {
        max-width: 550px;
        width: 38rem;
        height: 38rem;
      }
    }
  }
}

@media (min-aspect-ratio: 16/9) {
  .sectionExperienceLink {
    video {
      width: 100vw;
      height: calc(100vw/16*9);
    }
  }
}

@media (max-aspect-ratio: 16/9) {
  .sectionExperienceLink {
    video {
      width: calc(100vh/9*16);
      height: 100vh;
    }
  }
}

.sectionBookingLink {
  p {
    font-family: "Mostardesign-NatomProRegular";
    width: 70vw;
    padding: 0 10rem;
    font-size: 1.8rem;

    a {
      font-family: "Mostardesign-NatomProRegular";
      font-size: 1.8rem;
    }
  }
}

.pageCredits {
  margin: 21rem 0 0;

  >div {
    position: relative;
    z-index: 100;
  }

  .authorsWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    margin-top: 5rem;

    >h3 {
      width: 100%;
      flex-basis: 100%;
      margin: 4rem 5% 3rem;
    }

    .personWrapper {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      width: 40%;
      flex-basis: 40%;
      margin: 0 5% 2rem;

      * {
        font-size: 1.7rem;
        line-height: 2.2rem;
      }

      p {
        width: 100%;
        padding: 0;
        margin: 0;
        text-transform: capitalize;
      }

      .bioWrapper {
        width: 70vw;
        height: 80vh;
        position: fixed;
        top: 10vh;
        left: 15vw;
        z-index: 3000;
        background-color: $background;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow-y: scroll;
        padding: 5vh 5vw;

        .bioCloseBtn {
          position: static;
          width: 125px;
          height: 125px;
          padding: 1.5rem 0;

          svg {
            * {
              fill: none;
              stroke-miterlimit: 10;
              stroke-width: 2px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  html {
    font-size: 1vh;
  }

  .siteHeader {
    .pageTop {
      h2 {
        padding: 0;
        font-size: 3.2rem;
        width: 80vw;

        * {
          font-size: 3.2rem;
        }
      }

      .topMenu {
        button, a {
          font-size: 3.2rem;
        }
      }
    }
  }

  .pageLibraries {
    .librariesMenu {
      padding: 1rem 0 0;
      margin: 2.5rem auto 0;
      flex-direction: unset;
      flex-wrap: wrap;

      > div {
        width: calc(50% - 5rem);
        margin: 2.5rem;
      }
    }
  }

  .libraryWrapper {
    width: 90vw;
    left: 5vw;

    .libraryMenu {
      padding: 5rem 0rem;
      width: 100%;

      >button {
        width: calc((88vw - 2rem - 16vw) / 4) !important;

        p {
          font-size: 1.8rem;
        }
      }
    }

    .libraryCloseBtn {
      top: 8vh;
      right: 0;
    }
  }

  .jarContentWrapper {
    .jarContentInnerWrapper {
      width: 90vw;
      left: 5vw;
      overflow-y: unset;

      >div {
        > * {
          width: 100%;
        }
      }
    }
  }

  .galleryWrapper > div img {
    width: 100%;
  }

  .pageInstallation .textBtn {
    width: calc((88vw - 2rem - 16vw) / 4) !important;
    height: auto;
  }

  .sectionExperienceLink {
    margin: 5rem 0;

    video {
      display: none;
    }

    >div {
      padding: 5rem 0;
    }
  }

  .sectionBookingLink {
    p {
      width: 90vw;
      padding: 0rem;
    }
  }
}
